<?xml version="1.0" encoding="UTF-8"?>
<suite name="Home page and excel to pdf page suite" thread-count="5" parallel="tests">
    <parameter name="excelPdfTitle" value="Convert EXCEL to PDF"></parameter>
    <listeners>
        <listener class-name="com.listeners.Listener"></listener>
    </listeners>

    <test name="test chrome mac">
        <classes>
            <class name="com.tests.ChromeBrowserMac"></class>
        </classes>
    </test>
    <test name="test chrome windows">
        <classes>
            <class name="com.tests.FirefoxBrowserWindows"></class>
        </classes>
    </test>
    <test name="test firefox mac">
        <classes>
            <class name="com.tests.FirefoxBrowserMac"></class>
        </classes>
    </test>
    <test name="test firefox windows">
        <classes>
            <class name="com.tests.ChromeBrowserWindows"></class>
        </classes>
    </test>
    <test name="test safari mac">
        <classes>
            <class name="com.tests.SafariBrowserMac"></class>
        </classes>
    </test>
</suite>



